<mat-card>
  <form>
    <h2>Home Page</h2>
    <div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%">
      <div fxFlex="50%">
        <mat-form-field fxFlex>
          <input matInput id="name" type="text" name="todoname" [(ngModel)]="todo.name" placeholder="Name">
        </mat-form-field>
      </div>
      <div fxFlex="50%">
        <mat-form-field fxFlex>
          <mat-select placeholder="Select" id="status" name="todostatus" [(ngModel)]="todo.status">
            <mat-option *ngFor="let sat of status" [value]="sat.value">
              {{sat.viewValue}}
            </mat-option>
          </mat-select>
        </mat-form-field>

      </div>
    </div>
    <div fxLayout="row" fxLayoutWrap fxLayoutGap="0.5%">
      <button mat-raised-button color="primary" (click)="save()" *ngIf="saveButton">Save</button>
      <button mat-raised-button color="primary" (click)="update()" *ngIf="updateButton">Update</button>
    </div>
    <p></p>
    <div>
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef> Name </th>
          <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>

        <!-- Status Column -->
        <ng-container matColumnDef="status">
          <th mat-header-cell *matHeaderCellDef> Status </th>
          <td mat-cell *matCellDef="let element"> {{element.status}}
            <button mat-icon-button color="primary" (click)="editData(element)">
              Edit
            </button>
            <button mat-icon-button color="primary" (click)="deleteData(element)">
              Delete
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
  </form>
</mat-card>